{% extends 'base.html' %}
{% block content %}

    <h2>Log In</h2>
    <form action="/login" method="POST">
      <label for='field-login-email'> Email: </label>
        <input type='text' name='email' id='field-login-email'></input>
      <br>
      <br>
      <label for='field-login-password'>Password: </label>
        <input type='text' name='password' id='field-login-password'></input>
      <br>
      <br>
      <label for='submit-login'></label>
      <input type ='submit' id='submit-login'>

    </form>

{% endblock %}